<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
	<link href="/public/static/css/bundle.css?rel=8e3a16" rel="stylesheet">
</head>
<body>

	<div class="wrap">
		<div class="page page-welcome">
			
		</div>
	</div>

	<script src="/public/vendors/jquery/jquery-3.1.1.min.js"></script>
	<script src="/public/static/js/bundle.js?rel=8e3a16"></script>
</body>
</html>
