<?php
require_once "jssdk.php";
$jssdk = new JSSDK("wxc638ad20926dc892", "17f8f3c6062ddf6f7bd31891eed20cbb");
$signPackage = $jssdk->GetSignPackage();
?>
	
	<!--微信分享-->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
WxShare('<?php echo urldecode($share["url"]);?>','<?php echo urldecode($share["sharetitle"]);?>','<?php echo urldecode($share["shareimg"]);?>','<?php echo urldecode($share["sharecontent"]);?>');

//可动态修改内容
function WxShare(url,title,imgurl,desc){

  	wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<?php echo $signPackage["appId"];?>',
	    timestamp: <?php echo $signPackage["timestamp"];?>,
	    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
	    signature: '<?php echo $signPackage["signature"];?>',
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    
        wx.ready(function(){
        //验证通过
        //分享到朋友圈
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: url, // 分享链接
            imgUrl: imgurl, // 分享图标
            success: function () {
            	alert("分享成功");
                // 用户确认分享后执行的回调函数
              if("onYdShare" in window){
                window.onYdShare();
              }
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("取消分享");
            }
        });
        
        //分享给朋友
        wx.onMenuShareAppMessage({
		    title: title, // 分享标题
		    desc: desc, // 分享描述
		    link: url, // 分享链接
		    imgUrl: imgurl, // 分享图标
		    type: '', // 分享类型,music、video或link，不填默认为link
		    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		    success: function () { 
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		        // 用户取消分享后执行的回调函数
		    }
		});
        
       

    });
    wx.error(function(res){
        //微信验证失败
        alert("微信验证失败");
    });

}
  
  </script>
